In [1]:
import csv

In [7]:
with open('cities.csv', newline= "") as data:
    towns = csv.DictReader(data, delimiter=',', quotechar='|')
    for row in towns:
        print(row['city'],row['lat'],row['lng'])

Seattle 47.6217 -122.3238
Richmond 37.5294 -77.4755
Virginia Beach 36.7335 -76.0435
Washington 38.9047 -77.0163
Milwaukee 43.0640 -87.9669
Orlando 28.4801 -81.3448
Miami 25.7840 -80.2102
Tampa 27.9937 -82.4454
Jacksonville 30.3322 -81.6749
Albuquerque 35.1055 -106.6476
Fort Worth 32.7813 -97.3466
McAllen 26.2203 -98.2457
El Paso 31.8478 -106.4310
Dallas 32.7938 -96.7659
Austin 30.3038 -97.7545
Houston 29.7871 -95.3936
San Antonio 29.4722 -98.5247
New Orleans 30.0687 -89.9288
Charlotte 35.2080 -80.8308
Raleigh 35.8323 -78.6441
Omaha 41.2634 -96.0453
Memphis 35.1047 -89.9773
Nashville 36.1714 -86.7844
Buffalo 42.9016 -78.8487
Queens 40.7498 -73.7976
New York 40.6943 -73.9249
Bronx 40.8501 -73.8662
Brooklyn 40.6501 -73.9496
Manhattan 40.7834 -73.9662
Philadelphia 40.0076 -75.1340
Pittsburgh 40.4396 -79.9763
Sacramento 38.5666 -121.4683
Riverside 33.9382 -117.3949
San Francisco 37.7561 -122.4429
San Diego 32.8312 -117.1225
San Jose 37.3020 -121.8488
Los Angeles 34.1140 -118.4068
Las Vegas 36.2288 -115.2603
Denver 39.7621 -104.8759
Chicago 41.8373 -87.6861
Atlanta 33.7627 -84.4231
Indianapolis 39.7771 -86.1458
Oklahoma City 35.4677 -97.5138
Phoenix 33.5722 -112.0891
Tucson 32.1558 -110.8777
Bridgeport 41.1909 -73.1958
Hartford 41.7661 -72.6834
Baltimore 39.3051 -76.6144
Boston 42.3189 -71.0838
Cleveland 41.4766 -81.6805
Columbus 39.9859 -82.9852
Cincinnati 39.1412 -84.5060
Salt Lake City 40.7774 -111.9301
Saint Louis 38.6358 -90.2451
Kansas City 39.1239 -94.5541
Minneapolis 44.9635 -93.2679
Detroit 42.3834 -83.1024
Providence 41.8229 -71.4186
Louisville 38.1662 -85.6488
Portland 45.5372 -122.6500

In [32]:
class City():
  def __init__(self, name, lat, lon):
    self.name=name
    self.lat=lat
    self.lon=lon

In [50]:
cities = []
import csv
def cityreader(cities=[]):
  # TODO Implement the functionality to read from the 'cities.csv' file
  # For each city record, create a new City instance and add it to the 
  # `cities` list
    with open('cities.csv', newline= "") as data:
      towns = csv.DictReader(data, delimiter=',')
      for row in towns:
          city = City(name=row['city'],lat=row['lat'],lon=row['lng'])
          cities.append(city)
    return cities

cityreader(cities)

# Print the list of cities (name, lat, lon), 1 record per line.
for c in cities:
    print(c.name,c.lat,c.lon)

Seattle 47.6217 -122.3238
Richmond 37.5294 -77.4755
Virginia Beach 36.7335 -76.0435
Washington 38.9047 -77.0163
Milwaukee 43.0640 -87.9669
Orlando 28.4801 -81.3448
Miami 25.7840 -80.2102
Tampa 27.9937 -82.4454
Jacksonville 30.3322 -81.6749
Albuquerque 35.1055 -106.6476
Fort Worth 32.7813 -97.3466
McAllen 26.2203 -98.2457
El Paso 31.8478 -106.4310
Dallas 32.7938 -96.7659
Austin 30.3038 -97.7545
Houston 29.7871 -95.3936
San Antonio 29.4722 -98.5247
New Orleans 30.0687 -89.9288
Charlotte 35.2080 -80.8308
Raleigh 35.8323 -78.6441
Omaha 41.2634 -96.0453
Memphis 35.1047 -89.9773
Nashville 36.1714 -86.7844
Buffalo 42.9016 -78.8487
Queens 40.7498 -73.7976
New York 40.6943 -73.9249
Bronx 40.8501 -73.8662
Brooklyn 40.6501 -73.9496
Manhattan 40.7834 -73.9662
Philadelphia 40.0076 -75.1340
Pittsburgh 40.4396 -79.9763
Sacramento 38.5666 -121.4683
Riverside 33.9382 -117.3949
San Francisco 37.7561 -122.4429
San Diego 32.8312 -117.1225
San Jose 37.3020 -121.8488
Los Angeles 34.1140 -118.4068
Las Vegas 36.2288 -115.2603
Denver 39.7621 -104.8759
Chicago 41.8373 -87.6861
Atlanta 33.7627 -84.4231
Indianapolis 39.7771 -86.1458
Oklahoma City 35.4677 -97.5138
Phoenix 33.5722 -112.0891
Tucson 32.1558 -110.8777
Bridgeport 41.1909 -73.1958
Hartford 41.7661 -72.6834
Baltimore 39.3051 -76.6144
Boston 42.3189 -71.0838
Cleveland 41.4766 -81.6805
Columbus 39.9859 -82.9852
Cincinnati 39.1412 -84.5060
Salt Lake City 40.7774 -111.9301
Saint Louis 38.6358 -90.2451
Kansas City 39.1239 -94.5541
Minneapolis 44.9635 -93.2679
Detroit 42.3834 -83.1024
Providence 41.8229 -71.4186
Louisville 38.1662 -85.6488
Portland 45.5372 -122.6500

In [45]:
lat1, lon1 = input("Enter lat1,lon1: ").split(",")

In [46]:
lat2, lon2 = input("Enter lat2,lon2: ").split(",")

In [47]:
lat1, lon1, lat2, lon2, = float(lat1), float(lon1), float(lat2), float(lon2)

In [41]:
if lon1 > lon2:
  lon1,lon2 = lon2,lon1
if lat1 > lat2:
  lat1,lat2 = lat2, lat1
def cityreader_stretch(lat1, lon1, lat2, lon2, cities=[]):
  # within will hold the cities that fall within the specified region
  within = []
  # TODO Ensure that the lat and lon valuse are all floats
  # Go through each city and check to see if it falls within 
  # the specified coordinates.
  lat1, lon1, lat2, lon2, = float(lat1), float(lon1), float(lat2), float(lon2)
  for i in cities:
    if float(i.lat) >= lat1 and float(i.lat) <= lat2 and float(i.lon) >= lon1 and float(i.lon) <= lon2:
      within.append(i)
  return within

In [48]:
within = cityreader_stretch(lat1,lon1,lat2,lon2, cities)

In [49]:
for i in within:
    print(i.name)

Albuquerque
Riverside
San Diego
Los Angeles
Las Vegas
Denver
Phoenix
Tucson
Salt Lake City

In [51]:
[chr(i) for i in range(ord('C'),ord('G')+1)]

['C', 'D', 'E', 'F', 'G']

In [86]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"<Human: {self.name}, {self.age}>"

humans = [
    Human("Alice", 29),
    Human("Bob", 32),
    Human("Charlie", 37),
    Human("Daphne", 30),
    Human("Eve", 26),
    Human("Frank", 18),
    Human("Glenn", 42),
    Human("Harrison", 12),
    Human("Igon", 41),
    Human("David", 31),
]

In [54]:
e = [(i.name+"-"+str(i.age)) for i in humans]
print(e)

['Alice-29', 'Bob-32', 'Charlie-37', 'Daphne-30', 'Eve-26', 'Frank-18', 'Glenn-42', 'Harrison-12', 'Igon-41', 'David-31']

In [59]:
d = [i.age+10 for i in humans]
d

[39, 42, 47, 40, 36, 28, 52, 22, 51, 41]

In [87]:
new = [Human(i.name.upper(),i.age+5) for i in humans]

new

[<Human: ALICE, 34>,
 <Human: BOB, 37>,
 <Human: CHARLIE, 42>,
 <Human: DAPHNE, 35>,
 <Human: EVE, 31>,
 <Human: FRANK, 23>,
 <Human: GLENN, 47>,
 <Human: HARRISON, 17>,
 <Human: IGON, 46>,
 <Human: DAVID, 36>]

In [93]:
c = [i.name for i in humans if ord(i.name[0]) in range(ord("C"),ord("G")+1)]
c

['Charlie', 'Daphne', 'Eve', 'Frank', 'Glenn', 'David']

In [90]:
print(range(ord("C"),ord("G")+1))

range(67, 72)

In [91]:
for i in range(ord("C"),ord("G")+1):
    print(i)

67
68
69
70
71